<section class="h-screen bg-cover opacity-90" style="background-image: url('https://images.unsplash.com/photo-1487427076583-392ed176865e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80')">
    <div class="flex h-full w-full items-center justify-center container mx-auto px-8">
      <div class="max-w-2xl text-center">
        <p class="text-3xl sm:text-5xl capitalize tracking-widest text-white lg:text-7xl">Hey Tu!</p>
  
        <!-- <p class="mt-6 lg:text-lg text-white">Welcome to <span class="font-mono font-bold tracking-wide">Hey tu</span> a place where you can send whatsapp without having to add contacts</p> -->
        <p class="mt-6 lg:text-lg text-white">
            Welcome to
            <a class="underline decoration-sky-500 font-mono font-bold tracking-wide">Hey tu</a>
            a place where you can send whatsapp without having to add contacts.
          </p>
  
        <div class="mt-8 flex flex-col space-y-3 sm:-mx-2 sm:flex-row sm:justify-center sm:space-y-0">
          <button
            class="transform rounded-md bg-blue-700 px-8 py-2 text-sm font-medium capitalize tracking-wide text-white transition-colors duration-200 hover:bg-blue-600 focus:bg-blue-600 focus:outline-none sm:mx-2"
            routerLink="message">
            Send Message
          </button>
        </div>
      </div>
    </div>
  </section>